body {
    background-color: burlywood;
  }
  h1,h2,h3,h4,h5 {
    color: black;
    font-weight: bold;
    font-style:italic;
    
  }
  h1{
    text-shadow: 1px 1px 2px black;
    width: 300px;
    border: 10px solid brown;
    padding: 50px;
    margin-left: 450px;
    margin-top: 10;
    margin-bottom: 0;
    text-align: center;
    
  }
 h2 {
  text-decoration:underline;
 }
 h3{
  text-shadow: 1px 1px 2px black;
  color:gray;
 }
 a.hover{
  color:white;
 }
  p.poem, p.intro {
    color: black;
    border: 2px solid black;
    border-style: solid;
    border-left-width: 15px;
    text-align:center;
    padding-left: 12px;
  }

  p{
    text-align:center;
    font-family: serif;
  }

  p{
    font-family: serif;
    border-style: outset;
    border-left-width: 15px;
    text-align: center;
    
    position: relative;

  }

  img{
    border: 5px solid grey;
    border-radius: 7px;
    padding: 5px;
    width: 250px;
  }
