
body {
    background: yellow;
  }

h5{
    margin-top: 100px;
    font-size: large;
    text-align: right;
  }
 p{
    color: purple;
    text-align:center;
    font-weight: lighter;
 }
img {
    border-radius: 40%;
    width: 140px;
    width:60%;
    height: 140px;
    position: relative;
    left:600px;
    margin-top:20px;
    text-align: center;

  }
  
  .topnav a {
    float: left;
    color: purple;
    text-align: center;
    padding: 14px;
    font-size: 35px;
  }
  

h2{
    text-align: right;
}

h3{
    text-align: center;
}